.cart-dropdown {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgba(10, 34, 30, 0.466);
  border-radius: 10px;
  padding: 0;
  background-color: whitesmoke;
  z-index: 50;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}