.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 0px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: 100vw;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 40px #ccc;
  -moz-box-shadow: 0px 0px 40px #ccc;
  -webkit-box-shadow: 0px 0px 40px #ccc;
  
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

.embla__dots {
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 20px;
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: center;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 1px;
  width: 10px;
  height: 10px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;

}

.embla__dot:after {
  background-color: #9c9494;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  content: "";


}

.embla__dot.is-selected:after {
  background-color: #ece0d6;
  opacity: 1;
}
