.checkout-header {
  z-index: 30;
  position: relative;
  top: 0px;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid darkgrey;
  border-radius: 10px 10px 0px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
  .cart-icon {
    margin: 5px;
    display: flex;
    cursor: pointer;
    // align-items: center;
    // justify-content: center;
  
    .shopping-icon {
      vertical-align: top;
      color: #343535;
    }
  }

  .checkout-header-title {
    margin: auto;
    margin-left: 10px;
    font-weight: 600;
  }
  
  .exit-button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-right: 5px;
    transform: translateX(30%);
    font-size: 22px;
    width: 40px;
    cursor: pointer;
  }
};

.checkout-main {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  height: calc(100vh - 200px);
  height: -moz-calc(100vh - 200px);
  height: -webkit-calc(100vh - 200px);
  width: 100%;
  padding: 0 10px;
  overflow-y: auto;
  z-index: 30;
  text-align: center;

  .empty-cart {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
}

.checkout-footer {
  z-index: 30;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  bottom: 0px;
  height: 200px;
  width: 100%;
  padding: 20px;
  border-top: 1px solid darkgrey;
  overflow-y: hidden;
  border-radius: 0 0 10px 10px;

  .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    .total-text {
      margin: 0 auto;
      margin-left: 0;
      font-family: 'Open Sans', sans-serif;

    }
    .total-price {
      margin: 0 auto;
      margin-right: 0;
      font-family: 'Roboto', 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 22px;
    }
  }
  
  .checkout-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 auto;
  }

  
  .test-warning {
    text-align: center;
    font-size: 12px;
    color: red;
  }
};

@media (max-width: 600px) {
  .checkout-main {
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
};