.cart-icon {
  width: 41px;
  height: 41px;
  position: relative;
  display: flex;
  // align-items: center;
  justify-content: center;
  top: 4px;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    // font-weight: bold;
    bottom: 17px;
  }
}