.cart-icon {
  margin: auto 0;
  width: 41px;
  height: 41px;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;

  .shopping-icon {
    margin-bottom: 6px;
    width: 20px;
    vertical-align: middle;
  }

  .item-count {
    font-size: 13px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    margin-bottom: 3px;
    letter-spacing: 0.05em;
  }
}

// ARREGLAR ICONO