.checkout-item {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin: 10px 0 30px 0;
  font-size: 20px;
  align-items: stretch;

  .image-container {
    width: 130px;
    flex-shrink: 0;
    // max-width: 120px;
    // min-width: 120px;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;

    p {
      float: left;
    }
    

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      .product-name {
        width: auto;
        height: auto;
      }
      
      &.middle {
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;

        .product-description {
          width: auto;
          height: auto;
          color: rgb(109, 104, 104);
          margin: 0 auto;
          margin-left: 0;
        }

        .quantity {
          margin-top: 5px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          position: relative;
  
          .value {
            height: auto;
            width: auto;
            font-size: 18px;
            margin: auto 0;
            padding: 0 8px;

            p {
              font-family: 'Open Sans', sans-serif;
              color: rgb(73, 70, 70);;
            }
          }
          .arrow {
            position: relative;
            width: 30px;
            margin: auto 0;
            padding: 0;
            padding-top: 4px;
            cursor: pointer;
            background: none;
            border: none;
            color: rgb(160, 146, 146);
  
            .arrow-icon {
              vertical-align: top;
            }
          }
        }
      }
  
      .product-name {
      }

      .product-description {
        font-size: 15px;
      }
    }

    .footer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row;
      margin-top: auto;

      .checkout-button-icon {
        width: auto;
        padding: 5px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: none;
        border: none;
        margin: 0;
        color: rgb(160, 146, 146);
      
        .checkout-footer-icon {
          vertical-align: top;
        }
      };

      .price {        
        width: auto;
        margin: auto;
        margin-left: auto;
        margin-right: 5px;

        p {
          font-family: 'Roboto', 'Open Sans', sans-serif;
          font-weight: 300;
        }
      }
    }
  }
}