.footer-container {
  height: 600px;
  width: 100%;
  background-color: rgb(136, 130, 130);
  display: block;

  .row {
    display: inline;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
}