body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  background-color: rgb(243, 241, 239);
}

/* To avoid purple/marked <Link> */
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}