body, p, span {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* To avoid purple/marked <Link> */
a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: block;
  /* margin-top: 75px; */
}