.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(32, 31, 31);
  padding-top: 200px;
  padding-bottom: 50px;

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}