.sign-in-and-sign-up {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto; // left and right margin auto
  background-color: whitesmoke;
  z-index: 300;
}

/* Small devices: 576px and up  */
@media (min-width: 576px) {

}

/* Medium devices: tablets, 768px and up */
@media (min-width: 768px) {}

/* Large devices: desktops, 992px and up */
@media (min-width: 992px) {}

/* Extra large devices: large desktops, 1200px and up */
@media (min-width: 1200px) {}